{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <p>&nbsp;</p>
        <h1>This page is for processing and analyzing your NMR data.</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
            <p>&nbsp;</p>
            <h5 style="color:white;">Please upload fid (Varian) or ser (Bruker) raw data file:</h5>
            <input type="file" name="mydata" style="color:white" required>
            <p>&nbsp;</p>
            <h5 style="color:white;">Please upload fid.com file:</h5>
            <input type="file" name="myfile" style="color:white" required>
            <p>&nbsp;</p>
            <button type="submit">Upload Files</button>
        </form>
    </div>
{% endblock %}