{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="container">
            <div class="row g-0">
                <div class="col-sm-6 col-md-8" id="header-text">
                  <h1 id="header-h1">NMR Spectral Processing and Analysis </h1>
                  <p id="header-paragraph">A web application for the processing, storage, and analysis of <br> multidimensional Nuclear Magnetic Resonance data. <br> Created By Drs. Lisi, East, Ragavendran, and Lawson</p>
                </div>
                <!--div class="col-6 col-md-4" id="header-image"><img src="/users/images/in-liquid-slide-2.svg " alt=""></div>
              </div-->
    </div>
{% endblock content %}
