{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <p>&nbsp;</p>
        <h1>To upload and store data on this app, please enter your username below 
            along with a descriptively named .zip file (i.e., compressed folder) containing all your experimental results.
        </h1>
        <p>&nbsp;</p> 
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} 
        <label for="username">User name:</label> 
        <input id="username" type="text" placeholder="Enter Your User Name" name="user_name" required/>
        <p>&nbsp;</p>
        <!-- <label for="firstname">First name:</label> 
        <input id="firstname" type="text" placeholder="Enter Your First Name" name="first_name" required/>
        <p>&nbsp;</p>
        <label for="lastname">Last name:</label> 
        <input id="lastname" type="text" placeholder="Enter Your Last Name" name="last_name" required/>
        <p>&nbsp;</p> -->
        <h5 style="color:white;">Please upload .zip file:</h5>
        <input type="file" name="file_upload" style="color:white" required>
        <p>&nbsp;</p>
        <button type="submit">Upload Files</button>
        </form>
        <hr/>
    </div>
{% endblock %}