{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="container">
        <p>&nbsp;</p>
        <h1>This page is for when you have already analyzed your data and wish to store the output in the application's database.</h1>
        <p>&nbsp;</p> 
        <h2>To do so, please enter the following information below:</h2>

        <hr/>
        <form method="POST">
            {% csrf_token %} 
        <label for="firstname">First name:</label> 
        <input id="firstname" type="text" placeholder="Enter Your First Name" name="first_name" required/>
        <p>&nbsp;</p>
        <label for="lastname">Last name:</label> 
        <input id="lastname" type="text" placeholder="Enter Your Last Name" name="last_name" required/>
        <p>&nbsp;</p>
        <label for="parameter1">Parameter 1:</label> 
        <input id="parameter1" type="number" step="1" placeholder="Enter Parameter 1" name="parameter_1" required/>
        <p>&nbsp;</p>
        <label for="parameter2">Parameter 2:</label> 
        <input id="parameter2" type="number" step="1" placeholder="Enter Parameter 2" name="parameter_2" required/>
        <p>&nbsp;</p>
        <label for="filepath">File path:</label> 
        <input id="filepath" type="text" placeholder="Enter The File Path" name="file_path" required/>
        <p>&nbsp;</p>
        <input type="submit" value="Submit"/>
        </form>
        <hr/>
    </div>
{% endblock %}